.top ul {
   list-style-type: none;
   width: 100%;
   margin: auto;
   padding: 0;
   background-color: #0090da;
   overflow: hidden;
}

.top li {  
  float: left;
  font-size: 20px;
}

.top li a:link {    
    display: block;
    text-decoration: none;
    text-align: center;
    font-family: "Impact", sans-serif;
    padding: 10px 15px 10px 15px;
    color: white;
}

.top li:hover {
   background-color: #9aca3c;
}

.top {   
   overflow: auto;   
   margin-left: -8px;
   margin-right: -8px;
   background-image: url("http://www.userlogos.org/files/logos/Sastre/BYUI2.png");
   background-position: top right;
   background-repeat: no-repeat;
   background-size: 10%;
}

.main, .main2 {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  font-size: 18px;
}

.assign {
  color: #0090da;
  font-size: 28px;
}

.main2 p {
  text-align: center;
}

h1 {
  margin-left: 20px;
  color: #0090da;
}

h2, h3 {
  text-align: center;
  font-family: sans-serif;
}